// @import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:wght@400;700&display=swap");

@font-face {
  font-family: "Lato Medium";
  src:
    url("../fonts/lato-medium.woff2") format("woff2"),
    url("../fonts/lato-medium.woff") format("woff");
}
@font-face {
  font-family: "Lato Semibold";
  src:
    url("../fonts/lato-semibold.woff2") format("woff2"),
    url("../fonts/lato-semibold.woff") format("woff");
}
