.book {
  // .book__container

  &__container {
    border-radius: rem(30);
    background: var(--main-color);
    display: flex;
    gap: rem(73);
    justify-content: center;
    overflow: hidden;
    align-items: center;
    @media (max-width: $tablet) {
      gap: rem(35);
    }
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }

  // .book__content

  &__content {
    width: rem(428);
    max-width: 100%;
    padding: rem(55) 0;
    flex-shrink: 0;
    @media (max-width: $mobile) {
      padding: rem(30) 0 rem(20);
    }
    @media (max-width: $mobileSmall) {
      padding: rem(25) 0 rem(20);
    }
  }

  // .book__subtitle

  &__subtitle {
    margin-bottom: rem(8);
  }

  // .book__heading

  &__heading {
    color: var(--white-color);
    margin-bottom: rem(8);
    & ._gray {
      color: #727272;
    }
  }

  // .book__paragraph

  &__paragraph {
    color: var(--white-color);
    margin-bottom: rem(21);
  }

  // .book__button

  &__button {
    padding-left: rem(21);
    padding-right: rem(21);
    gap: rem(6);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border: 1px solid var(--white-color);
        .book__phone-icon {
          stroke: var(--white-color);
        }
      }
    }
    @media (max-width: $mobileSmall) {
      padding: rem(8) rem(20) rem(8) rem(15);
    }
  }

  // .book__button-img

  &__button-img {
  }

  // .book__button-numbers

  &__button-numbers {
    font-weight: 600;
    font-size: rem(18);
    line-height: 1.6;
  }

  // .book__img-wrapper

  &__img-wrapper {
    width: rem(520);
    max-width: 100%;
    @media (max-width: $tablet) and (min-width: $mobile) {
      margin-right: rem(-20);
    }
    @media (max-width: $mobile) {
      width: rem(350);
    }
  }

  // .book__img

  &__img {
    width: 100%;
  }
}

.book__phone-icon {
  transition: stroke 0.3s ease;
}
